# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp
*.swo
*~

# Node (kalau nanti pakai Vite / build tools)
node_modules/
dist/
.cache/
.parcel-cache/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Env
.env
.env.local

# Build outputs
*.tsbuildinfo
